#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.navbar {
  background-color: orange;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  z-index: 11;
}

.navbar .nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar .nav-list div a {
  color: white;
}

.navbar .nav-list div a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.welcome-msg {
  font-size: 16px;
}

.logout-btn button {
  background-color: navy;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn button:hover {
  background-color: navy;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.about-heading {
  color: navy;
}

.about-paragraph {
  color: black;
  font-weight: bold;
}

.login-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: navy;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  height: 15px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-upload {
  width: 100%;
  height: 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  height: 40px;
  background-color: navy !important;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #001f4d;
}

.form-error {
  color: red;
  margin-top: 10px;
}

.signup-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}


.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input {
  height: 15px;
}

.form-textarea {
  height: 60px;
}

.form-button:hover {
  background-color: #001f4d;
}

.update-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.update-profile-pet {
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pet-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pet-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.pet-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pet-form-container {
  text-align: center;
}

.submit-btn {
  width: 100%;
  height: 40px;
  background-color: navy;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #001f4d;
}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.current-pet {
  text-align: center;
}

.pet-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
}

.matched-pets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.matched-pets div {
  text-align: center;
}

.matched-pet-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.matched-pet-image:hover {
  opacity: 0.8;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-slideshow-container {
  width: fit-content;
}

.user-pets-slider {
  width: 300px !important;
}

.user-pets-slider-image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.main-pets-slider {
  width: 700px !important;
}

.main-pets-slider-image {
  width: 700px;
  height: 400px;
  border-radius: 8px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* height: 400px; */
  max-height: 90vh;
  /* width: 40%; */
  overflow-y: auto;
  scrollbar-width: thin;
}

.overlay {
  background: rgba(155, 155, 173, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  overflow: hidden;
}

.overlay :focus-visible {
  outline: none;
}

.modal .cross-icon-container {
  background-color: #ffffff;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px 2px 0 0;
  float: right;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.profile-content .pet-info {
  display: flex;
  gap: 20px;
}

.profile-content .pet-images img {
  max-width: 150px;
  max-height: 150px;
  margin-right: 10px;
  border-radius: 8px;
  object-fit: cover;
}

.profile-content .pet-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-content .pet-details h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.profile-content .pet-details p {
  font-size: 16px;
  color: #555;
}

.profile-content .owner-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-content .owner-details {
  display: flex;
  gap: 15px;
}

.profile-content .owner-profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-content .owner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-content .owner-text h4 {
  font-size: 20px;
  font-weight: bold;
}

.profile-content .owner-text p {
  font-size: 14px;
  color: #777;
}

.about-slider {
  display: flex;
  justify-content: center;
}